.lib-container-topbar {
  background-color: black;
  height: 40px
}

.lib-container-topbarContent {
  margin-left: auto;
  margin-right: auto;
  max-width: 1124px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.lib-container-topbarItem {
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  font-weight: bold;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.lib-container-topbarItem:hover {
  background-color: white;
  color: black;
}

.lib-container-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1124px;
  padding: 20px;
}

.lib-container-headerContent {
  border: 1px #eee solid;
  background-color: #fbfbfb;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1124px;
  padding: 15px;
}

.lib-container-headerTitle {
  margin-top: 8px;
}

.lib-container-headerVideo {
  margin-top: -18px;
  margin-left: auto;
  height: 20px;
  display: block;
}

.lib-text-headerTitle {
  font-size: 18px;
  font-weight: bold;
}

.lib-container-main {
  max-width: 1024px;
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #496EFF;
  margin-left: auto;
  margin-right: auto;
}

.lib-container-mainCenter {
  max-width: 960px;
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #EAF6F9;
}

.lib-container-solidBoxLink {
  cursor: pointer;
  border: 1px #eee solid;
  padding: 15px;
  background-color: #fbfbfb;
  border-radius: 16px;
  margin: 0 auto;
}

.lib-container-solidBoxLinkHover {
  cursor: pointer;
  border: 1px #eee solid;
  padding: 15px;
  background-color: #efefef;
  border-radius: 16px;
  margin: 0 auto;
}

.lib-container-solidBox {

  border: 1px #eee solid;
  padding: 15px;
  background-color: #fbfbfb;
  border-radius: 16px;
  margin: 0 auto;
}

.lib-container-solidBoxHover {

  border: 1px #eee solid;
  padding: 15px;
  background-color: #efefef;
  border-radius: 16px;
  margin: 0 auto;
}

.lib-container-formBox {
  border: 1px #eee solid;
  padding: 15px;
  background-color: #fbfbfb;
  border-radius: 8px;
  margin: 0 auto;
}

.lib-container-formBoxHover {
  border: 1px #eee solid;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 0 auto;
}

.lib-container-rowBox {
  display: flex;
  flex-direction: row;
}

.lib-container-center {
  text-align: center;
  align-items: center;
  align-content: center;
}

.lib-text-h1 {
  font-size: 22px;
  font-weight: normal;
}

.lib-text-h2 {
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

.lib-text-medium {
  font-size: 14px;
}

.lib-text-small {
  font-size: 12px;
}

.lib-text-boxHeading {
  font-size: 22px;
}

.lib-text-boxTxt {
  font-size: 16px;
  color: #999;
}

.lib-text-boxTxtInfo {
  font-size: 16px;
  color: #444;
}

.lib-text-searchHeading {
  font-size: 22px;
}

.lib-text-formHeading {
  font-size: 18px;
}

.lib-text-formHeadingSmall {
  font-size: 14px;
  color: #999;
}

.lib-spacer-large {
  height: 50px;
}

.lib-spacer-medium {
  height: 30px;
}

.lib-spacer-small {
  height: 10px;
}

.lib-form-button {
  border-radius: 12px !important;
  font-size: 14px !important;
}

.lib-form-input {
  border-radius: 12px !important;
  font-size: 14px !important;
  background-color: #EAF6F9 !important;
}

.lib-form-input .MuiOutlinedInput-notchedOutline {
  border-color: #e1bee7 !important;
  border-width: 2px !important;
}

.lib-form-input:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ba68c8 !important;
  border-width: 2px !important;
}

.lib-form-input:focus .MuiOutlinedInput-notchedOutline {
  border-color: #9c27b0 !important;
  border-width: 2px !important;
}

.lib-form-select {
  border-radius: 12px !important;
  font-size: 14px !important;
  background-color: #EAF6F9 !important;
}

.lib-form-select .MuiOutlinedInput-notchedOutline {
  border-color: #e1bee7 !important;
  border-width: 2px !important;
}

.lib-form-select:hover .MuiOutlinedInput-notchedOutline {
  border-color: #ba68c8 !important;
  border-width: 2px !important;
}

.lib-form-select:focus .MuiOutlinedInput-notchedOutline {
  border-color: #9c27b0 !important;
  border-width: 2px !important;
}

.lib-form-chip {
  font-size: 14px !important;
  border-radius: 12px !important;
}

.lib-form-chip-small {
  font-size: 12px !important;
  border-radius: 10px !important;
}

.lib-menu-sidebar {
  background-color: #0b2948 !important;
  color: #fff !important;
}

.lib-menu-toolbar {
  color: white !important;
  background-color: #082440 !important;
}

.lib-menu-item {
  color: white !important;
  background-color: #082440 !important;
}

.lib-menu-item:hover {
  color: white !important;
  background-color: #00458b !important;
}